<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Raleigh NC Parks and Recreation News</title>
    <link>https://raleighnc.gov/news?department=All&amp;service=41</link>
    <description>Latest news from Raleigh Parks and Recreation</description>
    <language>en-us</language>
    <item>
      <title>South East Raleigh Wrestling Club</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/south-east-raleigh-wrestling-club</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/south-east-raleigh-wrestling-club</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-11/wrestling-club_1.png?h=c4da12ca&amp;itok=BfIdDfdp"/>
    </item>
    <item>
      <title>Reindeer Rodeo</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/reindeer-rodeo</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/reindeer-rodeo</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2020-12/raleigh-parks-holidays.jpg?h=73545cb6&amp;itok=nund57YI"/>
    </item>
    <item>
      <title>Fallin' Into Holidays</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/fallin-holidays</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/fallin-holidays</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-11/iStock-1277767891%20%281%29%20%281%29.jpg?h=029a98d8&amp;itok=AOcxGlCh"/>
    </item>
    <item>
      <title>A Night With Santa: Celebrate the Season With Raleigh Police and Raleigh Parks</title>
      <link>https://raleighnc.gov/police/news/night-santa-celebrate-season-raleigh-police-and-raleigh-parks</link>
      <guid>https://raleighnc.gov/police/news/night-santa-celebrate-season-raleigh-police-and-raleigh-parks</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-11/rpd-night-with-santa-parks.jpg?h=d1cb525d&amp;itok=Bp_qogy_"/>
    </item>
    <item>
      <title>Take a Class at Pullen Arts Center</title>
      <link>https://raleighnc.gov/arts/news/take-class-pullen-arts-center</link>
      <guid>https://raleighnc.gov/arts/news/take-class-pullen-arts-center</guid>
      <pubDate>Wed, 05 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-07/KMH_2121_Web.jpg?h=d8102449&amp;itok=AIRep_Lc"/>
    </item>
    <item>
      <title>Poké Pals Trading and Training</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/poke-pals-trading-and-training</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/poke-pals-trading-and-training</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2024-07/poke-pals.jpg?h=38d2705a&amp;itok=V8htIBWB"/>
    </item>
    <item>
      <title>Take a 'Scroll' Through The Raleigh Rose Garden</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/take-scroll-through-raleigh-rose-garden</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/take-scroll-through-raleigh-rose-garden</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-10/2025-Rose%20Garden%20Virtual%20Tour202%20%281%29.jpg?h=c74750f6&amp;itok=DOwz3a_J"/>
    </item>
    <item>
      <title>Annual Gingerbread Party and Jolly Trolley</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/annual-gingerbread-party-and-jolly-trolley</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/annual-gingerbread-party-and-jolly-trolley</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2020-12/raleigh-parks-holidays.jpg?h=73545cb6&amp;itok=nund57YI"/>
    </item>
    <item>
      <title>Yoga In The Park at the Historic Borden Building</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/yoga-park-historic-borden-building</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/yoga-park-historic-borden-building</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-08/iStock_000042795652_Large%20%281%29.jpg?h=44b879e5&amp;itok=msKeXqld"/>
    </item>
    <item>
      <title>Come Burn off Some Stress Before the Holidays!</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/come-burn-some-stress-holidays</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/come-burn-some-stress-holidays</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2024-03/warrior-strength.jpg?h=72e65a61&amp;itok=UXA4jzLg"/>
    </item>
    <item>
      <title>Pilates for Active Adults</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/pilates-active-adults</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/pilates-active-adults</guid>
      <pubDate>Mon, 27 Oct 2025 00:00:00 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-05/watercolor.jpg?h=fd42b911&amp;itok=0RHNlqgJ"/>
    </item>
    <item>
      <title>Align &amp; Refine Yoga</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/align-refine-yoga</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/align-refine-yoga</guid>
      <pubDate>Mon, 27 Oct 2025 00:00:00 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-05/watercolor.jpg?h=fd42b911&amp;itok=0RHNlqgJ"/>
    </item>
    <item>
      <title>First Friday Market and Movie Night</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/first-friday-market-and-movie-night</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/first-friday-market-and-movie-night</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-10/iStock-1653075308%20%281%29.jpg?h=60685209&amp;itok=CsTj9sbL"/>
    </item>
    <item>
      <title>Art Classes at Five Points Center for Active Adults</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/art-classes-five-points-center-active-adults</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/art-classes-five-points-center-active-adults</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-05/watercolor.jpg?h=fd42b911&amp;itok=0RHNlqgJ"/>
    </item>
    <item>
      <title>Let's Talk Genealogy</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/lets-talk-genealogy</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/lets-talk-genealogy</guid>
      <pubDate>Tue, 21 Oct 2025 00:00:00 -0400</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-10/Jazz%20in%20the%20Square229%20%281%29.jpg?h=48502ae3&amp;itok=ooCXdafL"/>
    </item>
    <item>
      <title>Family Fun Day Fall Fair!</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/family-fun-day-fall-fair</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/family-fun-day-fall-fair</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2023-02/raleigh-parks-fall-image.jpeg?h=e1631583&amp;itok=FYUMlJx7"/>
    </item>
    <item>
      <title>Lunch Box Lectures at the City of Raleigh Museum</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/lunch-box-lectures-city-raleigh-museum</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/lunch-box-lectures-city-raleigh-museum</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2023-07/cor-museum.jpg?h=9782657d&amp;itok=gT0YHS81"/>
    </item>
    <item>
      <title>Village of Hope</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/village-hope</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/village-hope</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-10/village%20of%20hope%20pic%20%281%29.jpg?h=ad876230&amp;itok=rggD4Vx6"/>
    </item>
    <item>
      <title>Magic &amp; Mischief: A Wizard's Market</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/magic-mischief-wizards-market</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/magic-mischief-wizards-market</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2023-02/raleigh-parks-fall-image.jpeg?h=e1631583&amp;itok=FYUMlJx7"/>
    </item>
    <item>
      <title>Swim with Santa</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/swim-santa</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/swim-santa</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2020-12/raleigh-parks-holidays.jpg?h=73545cb6&amp;itok=nund57YI"/>
    </item>
    <item>
      <title>Marsh Creek Park to Welcome Urban Farm Expansion in New Partnership with Raleigh City Farm</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/marsh-creek-park-welcome-urban-farm-expansion-new-partnership-raleigh</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/marsh-creek-park-welcome-urban-farm-expansion-new-partnership-raleigh</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-10/marsh-garden-farm.jpg?h=3af1ddb6&amp;itok=fXmrhAlA"/>
    </item>
    <item>
      <title>Veterans Month Brunch</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/veterans-month-brunch</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/veterans-month-brunch</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-08/veteran%27s%20day.jpg?h=bcb9418f&amp;itok=8oqbi-gs"/>
    </item>
    <item>
      <title>Celebrate Our Reopening with the Doctor Is In!</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/celebrate-our-reopening-doctor</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/celebrate-our-reopening-doctor</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2021-01/pope-house-exterior-1.jpg?h=d1cb525d&amp;itok=H-OIFdqc"/>
    </item>
    <item>
      <title>Don't Miss the Rudy Theater Day Trip</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/dont-miss-rudy-theater-day-trip</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/dont-miss-rudy-theater-day-trip</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-11/active-rudy.jpg?h=0710dec7&amp;itok=sOopOytj"/>
    </item>
    <item>
      <title>Merry and Bright: An Enchanted Holiday Evening for Grownups</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/merry-and-bright-enchanted-holiday-evening-grownups</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/merry-and-bright-enchanted-holiday-evening-grownups</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-08/adult-night-press-release-image-2025%20%281%29.jpg?h=47f62522&amp;itok=Y04K9LTB"/>
    </item>
    <item>
      <title>New Chalk Wall Mural at Pullen Arts Center</title>
      <link>https://raleighnc.gov/arts/news/new-chalk-wall-mural-pullen-arts-center</link>
      <guid>https://raleighnc.gov/arts/news/new-chalk-wall-mural-pullen-arts-center</guid>
      <pubDate>Wed, 05 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-11/mixedmedia.jpg?h=d1cb525d&amp;itok=m15lBbC4"/>
    </item>
    <item>
      <title>Celebrate the Season at Soulful Holiday Open House</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/celebrate-season-soulful-holiday-open-house</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/celebrate-season-soulful-holiday-open-house</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-11/soulful-kids.jpg?h=f14a4ec1&amp;itok=_SG7_v-o"/>
    </item>
    <item>
      <title>Mardi Gras Masquerade Prom for Adults</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/mardi-gras-masquerade-prom-adults</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/mardi-gras-masquerade-prom-adults</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-07/adult-prom-sponsorship.jpg?h=c4da12ca&amp;itok=t57cxwyj"/>
    </item>
    <item>
      <title>Holidays with the Popes</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/holidays-popes</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/holidays-popes</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-09/2018MordecaiChristmas-83%20%281%29.jpg?h=a83f6b1f&amp;itok=xXLDeaeR"/>
    </item>
    <item>
      <title>Adventure Awaits: Active Adult Travel to Iceland, Philadelphia, and Beyond</title>
      <link>https://raleighnc.gov/parks-and-recreation/news/adventure-awaits-active-adult-travel-iceland-philadelphia-and-beyond</link>
      <guid>https://raleighnc.gov/parks-and-recreation/news/adventure-awaits-active-adult-travel-iceland-philadelphia-and-beyond</guid>
      <pubDate>Sun, 16 Nov 2025 00:00:00 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://raleighnc.gov/sites/default/files/styles/16_9_384x216/public/2025-11/bigstock-Liberty-Bell-and-Independence--87649685%20%281%29.jpg?h=f6505cb6&amp;itok=UNtb5lB0"/>
    </item>
  </channel>
</rss>
